.hero{
    height: 70vh;
    background-image:linear-gradient(rgba(10, 5, 2, 0.534),rgba(0, 0, 0, 0.931)), url(https://images.unsplash.com/photo-1583121274602-3e2820c69888?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position: center;
    position: relative;
    background-size: cover;
    overflow: hidden;
    
  
  }